<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>MNRDC </title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{{url_for('static', filename ='back-end/assets/css/app.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='back-end/assets/bundles/bootstrap-social/bootstrap-social.css')}}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='back-end/assets/css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='back-end/assets/css/components.css')}}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='back-end/assets/css/custom.css')}}">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' /> 

  <style>
    .body{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: linear-gradient(to left , #0008 , #000400),url('/static/back-end/assets/img/img1.png') no-repeat;
      background: linear-gradient(to left , #0008 , #000400),url('/static/back-end/assets/img/muse2.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section body">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                
                <h4 class="text-center">Login</h4>
              </div>
              <div class="card-body">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for i in messages %}
                      <div class="alert alert-danger">{{i}}</div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <form method="POST" action="/login" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="email">email</label>
                    <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      Please fill in your email
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Password</label>
                      <!-- <div class="float-right">
                        <a href="auth-forgot-password.html" class="text-small">
                          Forgot Password?
                        </a>
                      </div> -->
                    </div>
                    <input id="password" type="password" class="form-control" name="pwd" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>
                <div class="text-center mt-4 mb-3">
                  <div class="text-job text-muted">Login With Social</div>
                </div>
                <!-- <div class="row sm-gutters">
                  <div class="col-6">
                    <a class="btn btn-block btn-social btn-facebook">
                      <span class="fab fa-facebook"></span> Facebook
                    </a>
                  </div>
                  <div class="col-6">
                    <a class="btn btn-block btn-social btn-twitter">
                      <span class="fab fa-twitter"></span> Twitter
                    </a>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- <div class="mt-5 text-muted text-center">
              Don't have an account? <a href="auth-register.html">Create One</a>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="{{url_for('static', filename='back-end/assets/js/app.min.js')}}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{{url_for('static', filename='back-end/assets/js/scripts.js')}}"></script>
  <!-- Custom JS File -->
  <script src="{{url_for('static', filename='back-end/assets/js/custom.js')}}"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>